@media (min-width: 768px) {
    .header {
        &__heading, &__technology {
            font-size: 3.5rem;
        }

        &__paragraph {
            margin-top: 1.5em;
            font-size: 1.7rem;
        }
    }

    .main {
        .section {
            width: 350px;
        }
    }
}