@media (min-width: 768px) {
	.header {
		display: flex;
		flex-direction: column;

		&__heading,
		&__technology {
			font-size: 3.5rem;
		}

		&__paragraph {
			margin-top: 1.5em;
			font-size: 1.7rem;
			align-self: center;
			width: 600px;
		}
	}

	.main {
		.section {
			width: 350px;
		}
	}
}
